body{
    font-family: 'Montserrat', sans-serif;

}


.ontop-nav{
    background: #000;
    color: #ddd;
}

.ontop-nav span a{
    color: #fff;
}

.custom-nav{
    background: #fff !important; 
}

.masthead{
    background: url(../img/header-1.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-brand{
    font-family: 'Old Standard TT', serif;
}

.trending-articles{
    height: auto;
}

.trending-articles a{
    color: #000;
}

.trending-text{
    z-index: 2;
    bottom: 1px;
    background: #fff;
    width: 100%;
    padding: 1em 3em;
}

.description{
    border-left: 1px solid #2d2e2f;
}

.description p{
    font-size: 40px;
    font-family: 'Old Standard TT', serif;
}

.description span{
    font-family: 'Righteous', cursive;
}

.article-head .main-head{
    font-size: 30px;
    text-align: center;
    width: 60%;
}

.by-author-head{
    font-family: 'Righteous', cursive;
}

.share-links span{
    border: 1px solid #ddd;
    padding: 0.4em;
    border-radius: 50%;
    margin: 0 0.5em;
    font-size: 20px;
    cursor: pointer;
}

.share-links span:hover{
    opacity: 0.7;
}

.full-article{
    padding: 2em 15em;
}

.each-story{
    max-width: 20em;
}

.each-story a{
    color: #000;
}

.share-button{
    font-size: 20px;
}

.share-popup span{
    margin: 0.5em;
    font-size: 18px;
}

.each-article-popup{
    right: 2em;
    bottom: 2em;
}

.each-story .category{
    font-family: 'Righteous', cursive;
}

.page-footer{
    background: #2d2e2f;
    color: #ffffff;
}

.page-footer a{
    color: #ffffff;
}

.each-story img{
    width: 20rem;
    height: 15rem;
}

.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #2d2e2f;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

@media screen and  (max-width: 768px){

    .full-article {
        padding: 2em 2em;
    }

    .each-story{
        border-bottom: #ddd solid 1px;
    }

    .description p {
        font-size: 20px;
    }

    .top-topics {
        padding: 0 .5rem;
    }

    .article-head .main-head {
        width: 100%;
    }

}